
.header {
    padding: 10px;
    height: 100px;
    background-color: #A9CCE3;
    color: black;
}
.banner {
    height: 20px;
    background-color: #7FB3D5;
}

.nav {
    float: right;
    font-family: 'Acme', sans-serif;
    margin: 0 15px 0 15px;
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
}

.top-center {
    text-align: center;
    margin-bottom: -12px;
}

#education {
    margin-left: 25px;
}

#availibility {
    margin-left: 25px;
}

#skills {
    margin-left: 25px;
}

#projects {
    margin-left: 25px;
}

#experience {
    width: 1000px;
    border: solid black 1px;
    margin-left: 25px;
    padding: 10px;
}


.date {
    display: inline-block;
}

.first {
    position: relative;
    left: 400px;
}

.second {
    position: relative;
    left: 560px;
}

.third {
    position: relative;
    left: 500px;
}

.work-heading {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: -12px;
}

.project-role {
    margin-bottom: -12px;
}